<a href="https://colab.research.google.com/github/ziainsani/Machine-Learning/blob/main/Homeworkweek7_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import os
import numpy as np, pandas as pd
import matplotlib.pyplot as plt
from sklearn import  metrics, model_selection
from xgboost.sklearn import XGBClassifier

In [21]:
url = "http://archive.ics.uci.edu/ml/datasets/Car+Evaluation"
data = pd.read_csv(url, names =['buying','maint','doors','persons','lug_boot','safety','class'])

data.head()

                                              buying maint  ... safety class
0  <!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 4.01 ...   NaN  ...    NaN   NaN
1                                             <html>   NaN  ...    NaN   NaN
2                                             <head>   NaN  ...    NaN   NaN
3  <title>UCI Machine Learning Repository: Car Ev...   NaN  ...    NaN   NaN
4                           <!-- Stylesheet link -->   NaN  ...    NaN   NaN

[5 rows x 7 columns]

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 290 entries, 0 to 289
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    290 non-null    object
 1   maint     31 non-null     object
 2   doors     13 non-null     object
 3   persons   9 non-null      object
 4   lug_boot  3 non-null      object
 5   safety    2 non-null      object
 6   class     1 non-null      object
dtypes: object(7)
memory usage: 16.0+ KB

In [23]:
data['class'],class_names = pd.factorize(data['class'])

In [24]:
print(class_names)

print(data['class'].unique())

Index([' lug_boot'], dtype='object')
[-1  0]

In [25]:
data['buying'],_ = pd.factorize(data['buying'])

data['maint'],_ = pd.factorize(data['maint'])

data['doors'],_ = pd.factorize(data['doors'])

data['persons'],_ = pd.factorize(data['persons'])

data['lug_boot'],_ = pd.factorize(data['lug_boot'])

data['safety'],_ = pd.factorize(data['safety'])

data.head()

   buying  maint  doors  persons  lug_boot  safety  class
0       0     -1     -1       -1        -1      -1     -1
1       1     -1     -1       -1        -1      -1     -1
2       2     -1     -1       -1        -1      -1     -1
3       3     -1     -1       -1        -1      -1     -1
4       4     -1     -1       -1        -1      -1     -1

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 290 entries, 0 to 289
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    290 non-null    int64
 1   maint     290 non-null    int64
 2   doors     290 non-null    int64
 3   persons   290 non-null    int64
 4   lug_boot  290 non-null    int64
 5   safety    290 non-null    int64
 6   class     290 non-null    int64
dtypes: int64(7)
memory usage: 16.0 KB

In [27]:
X = data.iloc[:,:-1]

y = data.iloc[:,-1]

In [28]:
# split data randomly into 70% training and 30% test

X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size=0.3, random_state=123)

In [32]:
params = {

'objective': 'binary:logistic',

'max_depth': 2,

'learning_rate': 1,

'silent': 1,

'n_estimators': 5

}

model = XGBClassifier(**params).fit(X_train, y_train)

In [33]:
# use the model to make predictions with the test data

y_pred = model.predict(X_test)

# how did our model perform?

count_misclassified = (y_test != y_pred).sum()

print('Misclassified samples: {}'.format(count_misclassified))

accuracy = metrics.accuracy_score(y_test, y_pred)

print('Accuracy: {:.2f}'.format(accuracy))

Misclassified samples: 0
Accuracy: 1.00